* {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: 'Gluten', cursive;
	background: rgb(61,135,25);
	background: linear-gradient(90deg, rgba(61,135,25,1) 0%, rgba(246,242,65,1) 38%, rgba(235,222,53,1) 62%, rgba(232,32,12,1) 100%, rgba(12,109,201,1) 100%);
	background-repeat: no-repeat;
	margin-right: 0;
}

.body-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.author {
	font-size: 20px;
	font-family: cursive;
	opacity: 0;
	filter: blur(1.5px);
	letter-spacing: 10px;
	transition: 2s;
	transition-timing-function: ease-out;
}

.title:hover .author{
	filter: blur(1.5px);
	opacity: 1;
	letter-spacing: 10px;
}

.title {
	width: 400px;
	margin: 0 auto;
	font-size: 2.5em;
}

.title span {
	color: black;
	font-size: 30px;
	font-weight: 900;
	transition: 0.5s;
	transition-timing-function: ease-out;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.title:hover span:nth-child(1) {
	margin-right: 10px;
	color: rgba(232,32,12,1);
}
.title:hover span:nth-child(2) {
	margin-right: 10px;
	color: lightgreen;
}
.title:hover span:nth-child(3) {
	margin-right: 10px;
	color: rgba(232,32,12,1);
}
.title:hover span:nth-child(4) {
	margin-right: 10px;
	color: lightgreen;
}
.title:hover span:nth-child(5) {
	margin-right: 10px;
	color: rgba(232,32,12,1);
}
.title:hover span:nth-child(6) {
	margin-right: 10px;
	color: lightgreen;
}
.title:hover span:nth-child(7) {
	margin-right: 10px;
	color: rgba(232,32,12,1);
}
.title:hover span:nth-child(8) {
	margin-right: 10px;
	color: lightgreen;
}
.title:hover span:nth-child(9) {
	margin-right: 10px;
	color: rgba(232,32,12,1);
}

.title:hover span {
	color: #fff;
	text-shadow: 0 0 10px red,
	0 0 10px #fff,
	0 0 20px #fff,
	0 0 40px #fff,
	0 0 80px #fff,
	0 0 120px #fff,
	0 0 160px #fff;
}

.box div{
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: 6px solid white;
}

.box div:nth-child(1) {
	top: 12%;
	left: 12%;
	animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
	top: 70%;
	left: 50%;
	animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
	top: 17%;
	left: 6%;
	animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
	top: 20%;
	left: 60%;
	animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
	top: 67%;
	left: 10%;
	animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
	top: 80%%;
	left: 70%;
	animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
	top: 60%;
	left: 80%;
	animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
	top: 32%;
	left: 25%;
	animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
	top: 90%;
	left: 25%;
	animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
	top: 20%;
	left: 80%;
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0%{
		transform: scale(0) translateY(0) rotate(0);
		opacity: 1;
	}
	100%{
		transform: scale(1.3) translateY(-90px) rotate(360deg);
		opacity: 0;
	}
}

.main {
	display: flex;
	flex-direction: column;
	width: 900px;
	height: 600px;
	justify-content: space-between;
	padding-bottom: 30px;
}

.bpm {
	display: flex;
	text-align: center;
	flex-direction: row;
    justify-content: center;
    align-items: center;
	pointer-events: none;
	background: none;
	font-family: 'Gluten', cursive;
	font-weight: bold;
}

.bpm #tempo {
	font-size: 3em;
	background: none;
	border: none;
	width: 70px;
	font-family: 'Gluten', cursive;
}

.bpm h3{
	align-self: end;
	font-size: 2em;
	padding-bottom: 5px;
}

.tempo-settings {
	display: flex;
	align-items: center;
}

.tempo-settings .playContainer {
	width: 100%;
	position: relative;
	margin-left: -3px;
	margin-right: -3px;
}

.tempo-settings .playTrack {
	background: red;
	position: absolute;
    width: 100%;
    top: 25px;
    height: 10px;
}

.tempo-settings #playBtn {
}

.tempo-settings #leftBtn {
	min-width: 45px;
	min-height: 45px;
	max-width: 45px;
	max-height: 45px;
	border-radius: 50%;
	font-size: 40px;
	cursor: pointer;
	text-align: center;
	z-index: 1;
}

.tempo-settings #rightBtn {
	min-width: 45px;
	min-height: 45px;
	max-width: 45px;
	max-height: 45px;
	border-radius: 50%;
	font-size: 40px;
	cursor: pointer;
	text-align: center;
	z-index: 1;
}

hr {
	height: 5px;
	background-color: red;
	width: 100%;
}

.btn {
	width: 100px;
	height: 60px;
	border-radius: 30px;
	text-align: center;

}

.button {
	pointer-events: none;
}

.add-icon {
	bottom: -1px;
}

.minus-icon {
	bottom: -2px;
}

.measures {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.bpMes {
	pointer-events: none;
	border: none;
	align-items: center;
	padding: none;
	margin: 0px;
}

.minus-bpMes {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	margin: 0 5px;
	cursor: pointer;
}

.plus-bpMes {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	margin: 0 5px;
	cursor: pointer;
}

.icon {
	pointer-events: none;
}

.beats-per-measure-text {
	text-align: center;
	font-size: 1em;
}

.image-tree1 {
	position: absolute;
	left: 10px;
	bottom: 0px;
	z-index: -1;
}

.image-tree2 {
	position: absolute;
	right: 10px;
	bottom: 0px;
	z-index: -1;
	transform: scaleX(-1);
}

.small-tree1 {
	position: absolute;
	left: -30px;
	bottom: 0px;
	z-index: -1;
	margin-bottom: 0px;
}

.small-tree2 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	transform: scaleX(-1);
}

.coconut1 {
	position: absolute;
	left: 160px;
	bottom: 413px;
}

.coconut2 {
	position: absolute;
	right: 160px;
	bottom: 413px;
}